.home-view {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.home-view__filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 5px;
}